#editor {
    /*font-family: "Aref Ruqaa"*/
}

#toolbar .ql-font span[data-label="Aref Ruqaa"]::before {
  font-family: "Aref Ruqaa";
}

#toolbar .ql-font span[data-label="Mirza"]::before {
  font-family: "Mirza";
}

#toolbar .ql-font span[data-label="Roboto"]::before {
  font-family: "Roboto";
}

#toolbar .ql-font span[data-label="Monospace"]::before {
  font-family: "Monospace";
}

.ql-font-mirza {
  font-family: "Mirza";
}

.ql-font-roboto {
  font-family: "Roboto";
}